.skills {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 60px 0;
}

.skills-list {
  width: 33.33333%;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  text-decoration: none;
  margin: 0px;
}


.skills-list ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  /* text-decoration: none; */
}

.skills-list li:hover {
  text-decoration: none;
  color: #000000;
}

.skills-list p {
  font-family: "neue-haas-grotesk-display",sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin: 0px;
  text-decoration: none;
  list-style: none;

}

.skills h2 {
  /* font-family: "ff-dagny-web-pro", sans-serif; */
  font-family: "neue-haas-grotesk-display",sans-serif;

  color: #000000;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  padding: 0px;
  line-height: 1.5;
}

.skills h4 {
  font-family: "neue-haas-grotesk-display",sans-serif;
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
  margin-bottom: 5px;
  text-decoration: none;

}
