@import url("https://use.typekit.net/lgh8cir.css");
* {
  box-sizing: border-box;
}

h1 {
  font-family: "neue-haas-grotesk-display",sans-serif;
  font-size: 40px;
  letter-spacing: 0.5px;
}

p {
  font-family: "neue-haas-grotesk-display",sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin: 0px;

}

/* .App {
  margin-left: 60px;
  margin-right: 60px;
} */

.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.About {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 150px;
}

.About-image {
  width: 50%;
  background-color: grey;
  margin-bottom: 60px;

}

.About-text {
  width: 100%;
}

.About-text h1 {
    font-family: "ff-dagny-web-pro", sans-serif;
    color: #000000;
    font-size: 74px;
    font-weight: 400;
    text-align: left;
    line-height: 1.1;
    width: 100%;
    margin-top: 0px;
}

.About-text p {
    font-family: "neue-haas-grotesk-display",sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1.5px;
}

.Tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.Tech h2 {
    font-family: "neue-haas-grotesk-display",sans-serif;
    letter-spacing: 0.5px;
    margin: 0px;
    text-align: left;
    color: #000000;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 1.5;
}

.Skills {
  width: 100%;
  text-align: left;
}

.Studies {
  width: 100%;
  text-align: left;
}
