@import url("https://use.typekit.net/lgh8cir.css");

a, p, h4 {
  font-family: "neue-haas-grotesk-display",sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.footer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000000;
  height: 200px;
}


.footer-info p {
  margin: 0px;
  font-size: 40px;
  font-weight: 600;
}

.footer-header {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}

.footer-header-soc {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}

.footer-info {
  width: 70%;
  background-color: grey;
}
.footer-social {
  width: 70%;
  background-color: lightgrey;
}

.footer-social p {
  margin: 0px;
  font-size: 40px;
  font-weight: 600;
}
