.Studies {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.StudiesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
}

.StudiesList {
  width: 33.33333%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 50px;
  /* padding-right: 10px; */
}

.StudiesList p {
  list-style: none;
  padding-right: 15px;
  margin: 0px;
  text-align: left;
  font-family: "neue-haas-grotesk-display",sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.Studies h2 {
  font-family: "neue-haas-grotesk-display",sans-serif;
  letter-spacing: 0.5px;
  margin: 0px;
  text-align: left;
  color: #000000;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 1.6;
}

.StudiesList h4 {
  font-family: "neue-haas-grotesk-display",sans-serif;

  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
  margin-bottom: 5px;
  letter-spacing: 0.2px;

}
