
.Workexample-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
}

.workexample {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}


.workexample img {
  width: 100%;
  height: auto;
  object-fit: contain;
  overflow: hidden;
  margin-bottom: 0px;

}

.workexample p {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  margin: 0px;
  text-align: left;
  font-family: "neue-haas-grotesk-display",sans-serif;
}
